:root {
	--header-background: #7dcdd7;
	--footer-background: #374146;
	--content-background: white;
	--button-background: #ea5a0a;
	--button-font-color: #fff;
	--main-font-family: 'PT Root UI VF';
	--main-font-size: 16px;
	--main-width: 1920px;
}
