@use 'variables' as *;

:root {
    font-family: $fontFamily;
	line-height: 1.5;
	font-weight: 400;
	font-size: $baseFontSize;

	color-scheme: light dark;
	color: $fontColor;
	background-color: $backgroundColor;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--container: #{$desktopContainerSize};
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
	cursor: pointer;

	&:active, &:focus {
		outline: 2px solid $accent;
		outline-offset: 2px;
	}
}

a:hover {
	color: #535bf2;
}

body, #root {
	padding: 0;
	margin: 0;
	place-items: stretch;
	height: 100%;
	width: 100%;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

@media (max-width: $desktopScreenWidth) {
	:root {
		--container: #{$desktopContainerSize};
	}
}

@media (max-width: $tabletScreenWidth) {
	:root {
		--container: #{$tabletContainerSize};
	}
}

@media (max-width: $largeMobileScreenWidth) {
	:root {
		--container: #{$largeMobileContainerSize};
	}
}

@media (max-width: $mobileScreenWidth) {
	:root {
		--container: #{$mobileContainerSize};
	}
}